body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246,246,239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 1.5rem;
  color: white;
  background-color: green;
  text-align: center;
  padding: 1rem;
  border-width: 2px;
  border-color: black;
  cursor: pointer;
  max-width: 250px;
  margin: 1rem;
}

.mb2 {
  font-size: 1.5rem;
  margin: 1rem;
}
